.navbar {
    height: 88px;
    background: rgba(42, 40, 51, 1);
}
.navbar .content{
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.navbar .navbar-brand {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 124px;
    width: 124px;
    bottom: -52px;
    border-radius: 50%;
    background: #fff;
}

.navbar .navbar-brand img {
    position: absolute;
    width: 100px;
    top: 10px;
    left: 16px;
}

.navbar .navbar-nav {
    margin-left: 160px;
}

.navbar .navbar-nav .nav-item {
    margin-left: 20px;
    margin-top: 50px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;
}

.navbar .navbar-nav .nav-item:hover {
    background-color: rgba(255, 204, 0, 1);
}

.navbar .navbar-nav .nav-item a {
    color: #ebebeb;
    font-size: 14px;
}

.navbar .navbar-nav .active{
    background: rgba(255, 204, 0, 1);
}

.navbar .pull-right .bell,
.head {
    float: left;
    height: 88px;
    text-align: center;
    font-size: 14px;
    color: #ebebeb;
}

.navbar .pull-right .bell {
    margin-right: 30px;
}

.navbar .pull-right .bell img,
.head img {
    height: 40px;
    padding: 5px;
    margin-top: 20px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;
}

.navbar .pull-right .bell img:hover,
.head img:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.navbar .pull-right .head img {
    padding: 8px;
}

/* content */

.content {
    margin-top: 68px;
    min-width: 1200px;
}

.content .row .left-side .list-group-item {
    cursor: pointer;
    -webkit-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;
}

.content .row .left-side .active {
    color: #000;
    background: rgba(255, 204, 0, 1);
    border-color: rgba(255, 204, 0, 1);
}

.content .row .left-side .list-group-item:hover {
    background: rgba(255, 204, 0, 1);
    border-color: rgba(255, 204, 0, 1);
}

.content .row .right-side {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 2px;
    padding-top: 30px;
}

.content .row .right-side .notice {
    overflow: hidden;
    margin-bottom: 50px;
}

.content .row .right-side .notice .tips .waring {
    margin-left: 20px;
    font-size: 20px;
    color: #f00;
    font-weight: bold;
}

.content .row .right-side .tips .waring img {
    height: 50px;
}

.content .row .right-side .tips p {
    margin-left: 60px;
    line-height: 20px;
    margin-bottom: 0.5rem;
    color: #999;
}

.content .row .right-side .tips,
.search {
    float: left;
    width: 50%;
}

.content .row .search .input {
    width: 280px;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 2px;
}

.content .row .search .input input {
    border: 0;
    outline: none;
    line-height: 30px;
    width: 240px;
    padding: 0 5px;
}

.content .row .right-side .search .input img {
    float: right;
    height: 20px;
    width: 20px;
    margin: 5px;
    cursor: pointer;
}

.content .row .right-side .item-list .item {
    margin-top: 20px;
    border-bottom: 1px dashed rgba(0, 0, 0, .125);
    overflow: hidden;
}

.item-list .item .user-infor .avatar img {
    float: right;
    width: 160px;
}

.item-list .item .user-infor .red-packet img {
    height: 70px;
    float: left;
}

.item-list .item .user-infor .name {
    font-size: 20px;
}

.item-list .item .user-infor .rank {
    padding: 1px 20px;
    margin-left: 20px;
    border: 1px solid rgba(255, 204, 0, 1);
    color: rgba(255, 204, 0, 1);
}

.item-list .item .user-infor .center {
    overflow: hidden;
}

.item-list .item .user-infor .text {
    margin: 0 0 0 10px;
    float: left;
}

.item-list .item .user-infor .money {
    width: 62px;
    margin-top: 5px;
    text-align: center;
    color: #fff;
    background: rgba(255, 204, 0, 1);
}

.item-list .item .user-infor .question {
    line-height: 30px;
    font-size: 18px;
}

.item-list .item .user-infor .text p {
    margin-bottom: 0.5px;
}

.item-list .item .user-infor .bottom {
    color: #666;
}

.item-list .item .answer ul {
    width: 300px;
    float: right;
    list-style: none;
}

.item-list .item .answer ul li {
    float: left;
}



.title{
    font-size: 25px;
}
.title span{
    color: red;
    font-size: 15px;
}
#prompt{
    color: red;
    margin-top: 50px;
}
#button{
    margin-left: 580px;
}
#button button{
    margin-right: 35px;
    background: #2aabd2;
}

#reardcontent{
    padding: 10px;
}