body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:836px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:836px;
  height:702px;
}
#u4420 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:836px;
  height:702px;
}
#u4421 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:343px;
  width:832px;
  visibility:hidden;
  word-wrap:break-word;
}
