
### system #########
.DS_Store


### project ########
target/
bin/
.log
.project
.settings
.classpath



### ide ############
.idea
.vscode

### cache ##########
.sass-cache/
.tmp/
.Cache
**/dist/
**/node_modules/


### other ##########
**/.classpath
**/.project
**/target/
**/bin/
*.log
**/bin/
/log/
**/build/
**/.gradle/
**/classes
__pycache__
*.pyc
*.swp
.idea
*.iml
*.DS_Store
*.ipr
*.iws

.*/
*.ipr
*.iws
*.iml
*.db
*.log
.settings
.classpath
.project
.springBeans
.idea
target/
log/
logs/
.DS_Store
