*{margin: 0;padding: 0;font-family: "微软雅黑","Microsoft YaHei";}
ul li,ol li{list-style: none;}
a:hover{text-decoration: none;}
.container-fluid,.container{padding: 0;margin: 0 auto;}
.header .hrederTop{background:#1C335D;height: 50px;line-height: 50px;}
.header .topcontent img{width: 32px;height: 32px;margin-right: 10px;}
.header .topcontent span{vertical-align: middle;color: #3979B7;letter-spacing: 1px;}
.header .hrederContent{background:#4072E5;height: 110px;line-height: 110px;}
.header .linkcollection {display: flex;margin: 0;}
.header .linkcollection li{flex: 1;text-align: center;}
.header .linkcollection a{color: #8FC3FC;border: 0;background: transparent;}
.header .linkcollection a:hover{cursor: pointer;color:#8FC3FC;}
.header .linkcollection .active a{color: #fff !important;}

.footer{background:rgb(11,30,62);color: #4367B1;padding: 2rem 0 5rem;}
.footer .linkcollection{font-size: 22px;font-weight: bold;}
.footer .footerBox{margin-top: 1rem;}
.footer .footerBox p{margin: 0 0 0.5rem;letter-spacing: 1px;}
.footer .linkcollection {display: flex;margin: 0;height: 110px;line-height: 110px;}
.footer .linkcollection li{flex: 1;}
.footer .linkcollection a{color: #4367B1;border: 0;background: transparent;}
.footer .linkcollection a:hover{cursor: pointer;color:#61B5F5;}
.footer .linkcollection .active a{color: #fff !important;}
.footer .seachBox .form-control{background-color:#00305E;border-color:#00305E;color: #61B5F5;}
.footer .seachBox .btn{background-color:#FDE428;border-color:#FDE428;}
.footer .seachBox .btn:hover{color: #6c757d;}
