// 首页样式

.flex-imagebox-item{
	background:url("../images/image.png") center center no-repeat #EAEAEA;
	background-position: center;
	min-height:120px;
}

.myking{
	.card-columns {
	  @include media-breakpoint-only(lg) {
	    column-count: 2;
	  }
	  @include media-breakpoint-only(xl) {
	    column-count: 3;
	  }
	}
}
.card-title{
	font-size:1.125rem;
	margin-bottom: 0.5rem;
}
.card-text{
	font-size:0.875rem;
}



// // <576
// @include media-breakpoint-up(xs) {
//
// }
// // 576~767
// @include media-breakpoint-up(sm) {
//
// }
// // 768~991
// @include media-breakpoint-up(md) {
//
// }
// // 992~1119
// @include media-breakpoint-up(lg) {
//
// }
// // >1200
// @include media-breakpoint-up(xl) {
//
// }
// @media (min-width: 970px) {
// }
