// mvn com.github.warmuuh:libsass-maven-plugin:0.2.8-libsass_3.4.4:watch


// 自定义bootstrap
@import "variables.scss";

// 引入bootstrap依赖
@import "../vendor/bootstrap/scss/bootstrap.scss";

// 引入图标字体
@import "../vendor/font-awesome/scss/font-awesome.scss";

// 自定义页面&字体设置
// -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif
html,body{
	font-family:BlinkMacSystemFont,"Helvetica Neue",Helvetica,Arial,"Microsoft YaHei",SimSun,sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


// 页面布局
.Page{
}
.Page-top{}
.Page-nav{
	background-color:#fff;
	.container{
		.navbox{
			margin:10px 20px 10px auto;
			padding-top:20px;
		}
	}
}
.brand{
	width:180px;
	padding:10px 0px;
	img{
		width:100%;
	}
}
// 自定义导航
.nav-item{
	margin-left:1.5rem;
}
.nav-link{
	position: relative;
	padding:0.5rem;
	em{
		display: inline-block;
		background: url("../images/icon-point.png") center top no-repeat;
		width: 22px;
		height:22px;
		position: absolute;
		bottom:-25px;
		left:50%;
		margin-left:-11px;
		opacity: 0;
	}
}
.nav .nav-link.active, .nav .nav-item.show .nav-link{
	border-bottom: 2px solid $second-color;
	em{
		opacity: 1;
	}
}
.nav-item.member{
	font-size:0.75rem;
}


//
.Page-body{
}
.section-head{
	padding-bottom: 10px;
}
.section-title{
	font-size:1.325rem;
}


.Page-contact{
	padding:50px 0;
	background-color:$second-color;
	.container{
		color:#fff;
	}
}
.Page-foot{

}

// 通用样式



// 自定义


.Page-link{
	background-color: #ddd;
	padding:30px 0;
	border-top:1px solid #e0e0e0;
	.container{
		font-size:2rem;
		color:#9c9c9d;
	}
}

// 首页样式
@import "index.scss";

// 班级样式
@import "classes.scss";

// 作业样式


// 红包悬赏样式
@import "packet.scss";

// 登录样式
body.signin{
	background-color:#eaeaea;
	.Page-nav{
		// background-color:transparent;
		border-bottom:1px solid #e0e0e0;
	}
}
.auth-signin{
	width:400px;
	background-color:#fff;
	font-size:0.875rem;
	label{
		i{
			font-size:0.75rem;
		}
	}
}



@media (min-width: 970px) {
	.container{
		width:940px;
	}
}
