// mvn com.github.warmuuh:libsass-maven-plugin:0.2.8-libsass_3.4.4:watch


// 自定义bootstrap
@import "variables.scss";

// 引入bootstrap依赖
@import "../vendor/bootstrap/scss/bootstrap.scss";

// 引入图标字体
@import "../vendor/font-awesome/scss/font-awesome.scss";

// 自定义页面&字体设置
html,body{
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif,"Microsoft yahei";
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


// 页面布局
.Page{
}
.Page-top{}
.Page-nav{
	background-color:#fff;
	.container{
		.navbox{
			margin:10px 20px 10px auto;
			padding-top:20px;
		}
	}
}
.brand{
	width:140px;
	margin:10px 20px;
	padding:10px 0px;
	img{
		width:100%;
	}
}

.Page-body{
}
.section-head{
	padding-bottom: 10px;
}
.flex-imagebox-item{
	background:url("../images/image.png") center center no-repeat #676767;
	background-position: center;
	min-height:120px;
}
// <576
@include media-breakpoint-up(xs) {
	.flex-imagebox-item{
		width:100%;
		height:auto;
	}
}
// 576~767
@include media-breakpoint-up(sm) {
	.flex-imagebox-item{
		width:50%;
	}
}
// 768~991
@include media-breakpoint-up(md) {
	.flex-imagebox-item{
	}
}
// 992~1119
@include media-breakpoint-up(lg) {
	.flex-imagebox-item{
		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(4){
			width:50%;
			height:256px;
		}
		&:nth-child(5),
		&:nth-child(6),
		&:nth-child(7),
		&:nth-child(8){
			width:25%;
			height:350px;
		}
		&:nth-child(9),
		&:nth-child(10),
		&:nth-child(11),
		&:nth-child(12){
			width:25%;
			height:235px;
		}
		&:nth-child(13),
		&:nth-child(14),
		&:nth-child(15),
		&:nth-child(16){
			width:50%;
			height:256px;
		}
	}
}
// >1200
@include media-breakpoint-up(xl) {
	.flex-imagebox-item{
		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(4){
			width:50%;
			height:256px;
		}
		&:nth-child(5),
		&:nth-child(6),
		&:nth-child(7),
		&:nth-child(8){
			width:25%;
			height:350px;
		}
		&:nth-child(9),
		&:nth-child(10),
		&:nth-child(11),
		&:nth-child(12){
			width:25%;
			height:235px;
		}
		&:nth-child(13),
		&:nth-child(14),
		&:nth-child(15),
		&:nth-child(16){
			width:50%;
			height:256px;
		}
	}
}
@media (min-width: 970px) {
	.container{
		width:940px;
	}
}


.section-banner{

}

.Page-link{

}
.Page-foot{

}

// 通用样式



// 自定义




// 首页样式




// 班级样式




// 作业样式
