
$color:#252222;
$base-color: #131b31;
$second-color:#ed5947;


// Start with assigning color names to specific hex values.
$white:  #fff;
$black:  #000;
$red:    #d9534f;
$orange: #f0ad4e;
$yellow: #ffd500;
$green:  #5cb85c;
$blue:   $base-color;
$teal:   #5bc0de;
$pink:   #ff5b77;
$purple: #613d7c;

// Create grayscale
$gray-dark:                 #292b2c;
$gray:                      #464a4c;
$gray-light:                #636c72;
$gray-lighter:              #eceeef;
$gray-lightest:             #f7f7f9;

// Reassign color vars to semantic color scheme
$brand-primary:             $blue;
$brand-success:             $green;
$brand-info:                $teal;
$brand-warning:             $orange;
$brand-danger:              $red;
$brand-inverse:             $gray-dark;

$fa-font-path:        "../fonts/font-awesome";
