.navbar {
    height: 88px;
    background: rgba(42, 40, 51, 1);
}
.navbar .content{
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.navbar .navbar-brand {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 124px;
    width: 124px;
    bottom: -52px;
    border-radius: 50%;
    background: #fff;
}

.navbar .navbar-brand img {
    position: absolute;
    width: 100px;
    top: 10px;
    left: 16px;
}

.navbar .navbar-nav {
    margin-left: 160px;
}

.navbar .navbar-nav .nav-item {
    margin-left: 20px;
    margin-top: 50px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;
}

.navbar .navbar-nav .nav-item:hover {
    background-color: rgba(255, 204, 0, 1);
}

.navbar .navbar-nav .nav-item a {
    color: #ebebeb;
    font-size: 14px;
}

.navbar .navbar-nav .active{
    background: rgba(255, 204, 0, 1);
}

.navbar .pull-right .bell,
.head {
    float: left;
    height: 88px;
    text-align: center;
    font-size: 14px;
    color: #ebebeb;
}

.navbar .pull-right .bell {
    margin-right: 30px;
}

.navbar .pull-right .bell img,
.head img {
    height: 40px;
    padding: 5px;
    margin-top: 20px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;
}

.navbar .pull-right .bell img:hover,
.head img:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.navbar .pull-right .head img {
    padding: 8px;
}

/* content */
.red_text{
    color: red;
}
